#aboutme {
    padding-top: 3.3em;
    background: url('../images/background.jpg') #fff no-repeat fixed 0 -100px;
    background-size: cover;
    min-height: 400px;
}

#aboutme h1 {
    color: #000;
    font-size: 3em;
}

#aboutme img {
    border-radius: 50%;
    width: 10vw;
    min-width: 200px;
    box-shadow: 0px 0px 10px 3px #666;
}

.additionalInfoOnRequest {
    display: none;
}

.chapter {
    padding: 0 1em 1.5em 1em;
    border-bottom: 1px solid #ccc;
}

.chapter h1 {
    padding-top: 1.2em;
}

.center {
    text-align: center;
}

footer {
    color: #fff;
    padding-top: 1em;
    background-color: #333333;
}

footer a {
    color: #ccc;
}

footer a:hover {
    color: #fff;
}

.icons {
    font-size: 5em;
}

.icons i {
    padding-left: 0.5em;
    padding-right: 0.5em;
}

.icons > a {
    color: #666;
}

.icons i:hover {
    color: #008CBA;
}

.inline-nav {
    margin-top: 0.5em;
}

.inline-nav ul {
    display: inline-flex;
    list-style-type: none;
}

.inline-nav ul li {
    padding-left: 1em;
    font-size: 0.8em;
}

#mozillavideo {
    border-radius: 10px;
}

.phoneNumber {
    font-size: 3em;
}

.projectentry {
    margin-top: 3em;
}

.projectentry img {
    width: 75vw;
    max-width: 1100px;
}

#projects a[role="button"] {
    margin-top: 3em;
}

.pulldown {
    margin-top: 5em;
}

#phoneAdditional i, #addressAdditional i {
    font-size: 3em;
    color: #666;
    padding-bottom: 0.5em;
}

.top-bar-section ul li:hover > a {
    background-color: #008CBA !important;
    background: #008CBA;
}

@media screen and (max-width: 391px) {
    #aboutme img {
        width: 40vw;
    }

    #aboutme {
        min-height: 500px;
    }

    .inline-nav {
        display: none;
    }
}

@media screen and (min-width: 392px) and (max-width: 990px) {
    .inline-nav {
        display: none;
    }
}